
.ContainerNavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    margin-top: -1.5vh;
    margin-left: 1.2vh;
    background-color: black;
}
#logo img{
    height: 10vh;
}
.inicio {
    color:rgb(255, 255, 255);
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 1vh;
}
.farms {
    color: white;
    font-size: 3vh;
    margin-top:3vh;
    margin-left: 3vh;
}
.classes {
    color:white;
    font-size: 3vh;
    margin-top:3vh;
    margin-left: 3vh;
}
.comunidade {
    color:white;
    font-size: 3vh;
    margin-top:3vh;
    margin-left: 3vh;
} 
.login {
    color:white;
    font-size: 3vh;
    margin-top:3vh;
    margin-left: 125vh;
}
.fotFundo img {
    height: 100%;
    width: 100%;
}
