* {
    margin: 0;
    padding: 0; 
 }
 body {
     background-image: url(../img/fundoTelaUsuario.jpg);
 }
 @font-face {
     font-family: diabloTitulo;
     src: url(../fontes/diablo-heavy.ttf);
 }
 @font-face {
     font-family: diabloTexto;
     src: url(../fontes/diablo-light.ttf);
 }
 .ContainerNavBar {
     font-family: diabloTitulo;
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 10vh;
     background-color: #242526;
     
 }
 #logo img{
     height: 10vh;
 }
 .icone {
     color:rgb(255, 255, 255);
     font-size: 3vh;
     margin-top: 3vh;
     margin-left: 1vh;
     padding-left: 5vh;
     cursor: pointer;
 } 
 .sair {
     color:white;
     font-size: 3vh;
     margin-top:3vh;
     margin-left: 100vh;
     cursor: pointer;
 
 }
 .sair a{
    text-decoration: none;
    color: white;
 }
 .containerUsuario {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 80vh;
    width: 70vh;
    background-color: #242526;
    margin-top: 3vh;
    margin-left: 70vh;
    
    border-radius: 20px;
 }
 .fotoPerfil {
    border-radius: 100%;
    width: 20vh;
    height: 20vh;
    background-color:antiquewhite;
    margin-left: 25vh;
    margin-top: 3vh;
    
 }
 .btnFoto {
     background-color: #B22222;
    color: white;
    width: 5vh;
    height: 5vh;
    border-radius: 100%;
    /* margin-top: 18vh; */
    margin-left: 32.5vh;
    cursor: pointer; 
 }
 .title {
    color: #1A1110;
    margin-bottom: 5%;
}

.modalBtn {
    height: 5vh;
    min-height: 30px;
    width: 15vh;
    min-width: 130px;

    border-radius: 5px;
    border: 0;
    outline: 0;

    background-color: #c8d7e6;
}

.text {
    margin-top: 0;
    font-size: 1.1em;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal .content {
    background-color: #D3D3D3;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 5px;
    width: 70%; 

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'LexendDeca-Regular';
    color: var(--title);
}
.infoPerfil {
    font-family: diabloTexto;
    margin-top: 40vh;
    height: auto;
    width: auto;
    margin-left: -40vh;
    font-size: 3.5vh;
}
.fotosModal {
    border-radius: 100%;
    width: auto;
    height: auto;
}
.selecionada {
   background-color: #242526;
   opacity: 0.3;
}

.imgPerfil {
    background: none;
}