@font-face {
    font-family: DiabloTitulo;
    src: url(../fontes/diablo-heavy.ttf);

   
}
@font-face{
    font-family: DiabloTexto;
    src: url(../fontes/diablo-light.ttf);
}

* {
    margin: 0;
    padding: 0;
}


.ContainerNavBar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10vh;
    background-color: #242526;
}

#logo img {
    height: 10vh;
}

.atalho {
    color: rgb(255, 255, 255);
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 5vh;
    font-family: DiabloTitulo;
}

.login {
    color: white;
    font-size: 3vh;
    margin-top: 3vh;
    margin-left: 90vh;
    font-family: DiabloTitulo;
}
/* Acabou a navbar */
body {
    background-image: url(../img/fundoLogin-Cadrasto.jpg);
    width: 100%;
    height: 100%;
    
}

.cadastro {
    width: 40vh;
    height: 50vh;
    background-color: black;
    margin-left: 80vh;
    margin-top: 20vh;
    opacity: 0.7;
    border-radius: 2vh;
  
}
h3 {
    font-size: 20px;
    color: aliceblue;
    font-family: DiabloTexto;
    margin-left: 11vh;
}
input {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: DiabloTexto;
    height: 3vh;
    margin: 2vh;
    border-radius: 1vh;
}
button {
    margin-left: 12.5vh;
    font-family: DiabloTexto;
    cursor: pointer;
}
span a{
    font-family: DiabloTexto;
    color: aliceblue;
    margin-left: 15vh;
    text-decoration: none;
    cursor: pointer;
}