* {
    margin: 0;
    padding: 0; 
 }
 body {
     background-image: url(../img/fundo-de-papel-texturizado-vintage-sujo.jpg);
 }
 @font-face {
     font-family: diabloTitulo;
     src: url(../fontes/diablo-heavy.ttf);
 }
 @font-face {
     font-family: diabloTexto;
     src: url(../fontes/diablo-light.ttf);
 }
 .ContainerNavBar {
     font-family: diabloTitulo;
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 10vh;
     background-color: #242526;
     
 }
 #logo img{
     height: 10vh;
 }
 .icone {
     color:rgb(255, 255, 255);
     font-size: 3vh;
     margin-top: 3vh;
     margin-left: 1vh;
     padding-left: 5vh;
     cursor: pointer;
 } 
 .sair {
     color:white;
     font-size: 3vh;
     margin-top:3vh;
     margin-left: 120vh;
     cursor: pointer;
     
 }
 .sair a {
    text-decoration: none;
     color: white;
 }
 .icone a{
    text-decoration: none;
    color: white;
 }

.div-reuslts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.feed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ;
}
.containerComentarios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.publicacao-descricao {
    margin-top: 2vh;
    border-radius: 15px;
    border-color: gray;
    width: 80vh; /* Define a largura da caixa */
    height: auto;
    border: 1px solid #ccc;
    padding: 10px;
    word-break:break-all;
    font-family: diabloTexto;
  
}
.modalBtn {
    height: 7vh;
    width: 7vh;
    border-radius: 100%;
    border: 0;
    outline: 0;
    background-color: #242526;
    color: aliceblue;
    cursor: pointer;
    top:550px;
    left:30px;
    font-size: 20px;
    position: fixed;
    
}

.text {
    margin-top: 0;
    font-size: 1.1em;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal .content {
    background-color: #D3D3D3;
    margin: 15% auto; 
    padding: 20px;
    border-radius: 5px;
    width: 70%; 

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: diabloTexto;

}

.publicacao-img{
    width: 10vh;
    height: 10vh;
    margin-top: 3vh;
}

.publicacao-nome {
    margin-bottom: 15vh;
    font-family: diabloTexto;

}

.publicacao-titulo {
    font-family: diabloTexto;
    margin-top: -15vh;
}
h1 {
    font-family: diabloTitulo;
}