* {
    margin: 0;
    padding: 0; 
 }
 body {
     background-image: url(../img/fundo-de-papel-texturizado-vintage-sujo.jpg);
 }
 @font-face {
     font-family: diabloTitulo;
     src: url(../fontes/diablo-heavy.ttf);
 }
 @font-face {
     font-family: diabloTexto;
     src: url(../fontes/diablo-light.ttf);
 }
 .ContainerNavBar {
     font-family: diabloTitulo;
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 10vh;
     background-color: #242526;
     
 }
 #logo img{
     height: 10vh;
 }
 .icone {
     color:rgb(255, 255, 255);
     font-size: 3vh;
     margin-top: 3vh;
     margin-left: 1vh;
     padding-left: 5vh;
     cursor: pointer;
 } 
 .sair {
     color:white;
     font-size: 3vh;
     margin-top:3vh;
     margin-left: 100vh;
     cursor: pointer;
 
 }
 .sair a{
    text-decoration: none;
    color: white;
 }